venv/
.ansible/
ansible-navigator.log
context/
_history_/
inventory/
!inventory/example_local.yml
!inventory/example_ssh.yml
vault/
!vault/example.pw
!vault/example.yml
*.log
*.swp
*.pyc
__pycache__/
*.egg-info/
.env
.DS_Store

